body{
  /* background-color:black; */
  font-family: 'Roboto', sans-serif;
}

#container{
    position: fixed;
    width: 100%;
    height: 100vh;
}

#videoElement{
  position: absolute;
  left: 50%; /* % of surrounding element */
  top: 50%;
  transform: translate(-50%, -50%); /* % of current element */
  /* width: 100%; */
  height: 100vh;
}

#intro-place-door{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  bottom: 0vmax;
  left: 0vmax;
  background-color:rgba(0,0,0,0.5);
  position: absolute;
  width:100%;
  height:35%;
}

#intro-text  {
    padding: 10%;
    max-width:80%;
    height:10%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#intro-cta  {
  border-radius:10%;
  padding:5%;
  height:10%;
  background-color: white;
  color:black;
  max-width:80%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#overlay{
  color:white;
  /* background-color:rgba(0,0,0,0.2); */
  position: absolute;
  width:100%;
  height:100%;
  z-index: 50;
  top: 0vmax;
  left: 0vmax;
}

img {
  max-width: 100%;
  max-height: 100%;
}

#debug-text{
  position: absolute;
  font-family: 'Roboto', sans-serif;
  width:100%;
  z-index: 50;
  top: 0vmax;
  left: 0vmax;
  padding:1vmax;
  color:white;
}

#intro-top{
  position: absolute;
  width:100%;
  z-index: 50;
  top: 2vmax;
  left: 0vmax;
  display: flex;
  justify-content: center;
}


#intro-logo{
  max-width:50%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}
